<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Product List:</h1>
    <table th:if="${productList.size() > 0}" class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Cost</td>
            <td>Count</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="b : ${productList}">
            <td th:text="${b.getId}"></td>
            <td th:text="${b.getTitle}"></td>
            <td th:text="${b.getCost}"></td>
            <td th:text="${b.getCount}"></td>
            <td><a class="btn btn-success" th:href="@{'/product/add/' + ${b.getId}}">Add</a></td>
            <td><a class="btn btn-danger" th:href="@{'/product/delete/' + ${b.getId}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <span th:unless="${productList.size() > 0}">Коробок нет</span>
    <span th:text="'Product type: ' + ${productList.size()}"/>
    <form th:action="@{'/product/addNew'}" method="post">
        <!-- GET http://localhost:8189/app/boxes/add?id=10&color=red&size=20 -->
        <label>title</label>
        <input type="text" name="title">
        <label>cost</label>
        <input type="number" name="cost">
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

</div>
</body>
</html>